/*General Settings  Border Box*/
@import url(https://fonts.googleapis.com/css?family=Satisfy|Loved+by+the+King);
@import url(https://fonts.googleapis.com/css?family=Bad+Script);
/* line 5, sass/style.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 8, sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 18, sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 21, sass/_reset.scss */
body {
  line-height: 1; }

/* line 24, sass/_reset.scss */
ol, ul {
  list-style: none; }

/* line 27, sass/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 31, sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none; }

/* line 36, sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 40, sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Compass Imports */
/* line 3, sass/_whiteboard.scss */
.whiteboard {
  background: #fff;
  border: 15px solid #888;
  position: absolute;
  width: 100%;
  min-width: 250px;
  min-height: 250px;
  height: 100%; }
  /* line 13, sass/_whiteboard.scss */
  .whiteboard .sticky {
    position: absolute;
    top: 0;
    left: 2em;
    padding: 1em;
    background: #334;
    border-bottom-left-radius: 100%;
    /* 100px of height + 10px of border */
    border-bottom-right-radius: 100%;
    /* 100px of height + 10px of border */ }
    /* line 17, sass/_whiteboard.scss */
    .whiteboard .sticky i.addSticky {
      font-size: 2em;
      color: #888;
      cursor: pointer; }

/* line 37, sass/_whiteboard.scss */
.note {
  display: block;
  position: absolute;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  max-height: 300px;
  min-width: 100px;
  min-height: 100px;
  padding: 0.5em;
  -moz-box-shadow: black 1px 1px 5px;
  -webkit-box-shadow: black 1px 1px 5px;
  box-shadow: black 1px 1px 5px;
  border-radius: 5px; }
  /* line 50, sass/_whiteboard.scss */
  .note .page {
    position: relative;
    background: #FFA3CE; }
    /* line 54, sass/_whiteboard.scss */
    .note .page h1 {
      font-family: "Satisfy", cursive;
      font-weight: bold;
      font-size: 1.5em;
      padding: 0.25em;
      display: block;
      border-bottom: 1px solid #000;
      text-align: center; }
    /* line 64, sass/_whiteboard.scss */
    .note .page .content {
      padding: 0.5em;
      text-align: center;
      font-family: "Bad Script", cursive;
      font-weight: bold; }

/* line 74, sass/_whiteboard.scss */
.note.active {
  -moz-box-shadow: black 3px 2px 20px;
  -webkit-box-shadow: black 3px 2px 20px;
  box-shadow: black 3px 2px 20px;
  z-index: 5; }

/* line 80, sass/_whiteboard.scss */
.note1 {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 500px;
  max-height: 500px;
  min-width: 100px;
  min-height: 100px;
  padding: 0.5em;
  -moz-box-shadow: black 1px 1px 5px;
  -webkit-box-shadow: black 1px 1px 5px;
  box-shadow: black 1px 1px 5px;
  border-radius: 5px; }
  /* line 91, sass/_whiteboard.scss */
  .note1 .page {
    position: relative;
    background: #FFA3CE; }
    /* line 95, sass/_whiteboard.scss */
    .note1 .page h1 {
      font-family: "Satisfy", cursive;
      font-weight: bold;
      font-size: 1.5em;
      padding: 0.25em;
      display: block;
      border-bottom: 1px solid #000;
      text-align: center; }
    /* line 105, sass/_whiteboard.scss */
    .note1 .page .content {
      padding: 0.5em;
      text-align: center;
      font-family: "Bad Script", cursive;
      font-weight: bold; }
