/*General Settings  Border Box*/
@import url(https://fonts.googleapis.com/css?family=Finger+Paint|Leckerli+One);
/* line 5, sass/style.scss */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 8, sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 18, sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 21, sass/_reset.scss */
body {
  line-height: 1; }

/* line 24, sass/_reset.scss */
ol, ul {
  list-style: none; }

/* line 27, sass/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 31, sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none; }

/* line 36, sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 40, sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Compass Imports */
/* line 6, sass/_whiteboard.scss */
#whiteboard {
  background: #fff;
  border: 15px solid #777;
  position: absolute;
  width: 100%;
  min-width: 250px;
  min-height: 250px;
  height: 100%;
  overflow: hidden; }

/* line 19, sass/_whiteboard.scss */
#addNote {
  position: absolute;
  width: 6em;
  height: 6em;
  top: -2em;
  left: 4em;
  padding: 1em;
  background: #334;
  border-radius: 50%;
  /* 100px of height + 10px of border */
  border-radius: 50%;
  /* 100px of height + 10px of border */ }
  /* line 30, sass/_whiteboard.scss */
  #addNote .fa {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em; }

/* line 39, sass/_whiteboard.scss */
.stickynote {
  display: block;
  position: absolute;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  max-height: 300px;
  min-width: 150px;
  min-height: 160px;
  padding: 0.5em;
  -moz-box-shadow: black 1px 1px 5px;
  -webkit-box-shadow: black 1px 1px 5px;
  box-shadow: black 1px 1px 5px;
  border-radius: 5px;
  overflow-x: visible;
  overflow-y: hidden;
  background: #FFA3CE;
  font-family: "Leckerli One", cursive; }

/* line 62, sass/_whiteboard.scss */
.stickynote.active {
  -moz-box-shadow: black 3px 3px 20px;
  -webkit-box-shadow: black 3px 3px 20px;
  box-shadow: black 3px 3px 20px;
  z-index: 2;
  padding-right: 45px; }
  /* line 67, sass/_whiteboard.scss */
  .stickynote.active .control {
    display: block;
    width: 40px;
    height: 160px;
    position: absolute;
    top: 0;
    right: 0;
    background: #333;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; }
  /* line 80, sass/_whiteboard.scss */
  .stickynote.active .controlElement {
    width: 36px;
    height: 36px;
    overflow: hidden;
    font-family: FontAwesome;
    cursor: pointer;
    border-bottom: 1px dotted #888;
    margin: 1px 2px; }
  /* line 93, sass/_whiteboard.scss */
  .stickynote.active .delete {
    display: inline-block;
    text-align-last: center;
    line-height: 40px; }
    /* line 97, sass/_whiteboard.scss */
    .stickynote.active .delete:before {
      content: "\f1f8";
      color: white;
      cursor: pointer;
      padding: 0.25em;
      font-size: 1.5em; }
  /* line 106, sass/_whiteboard.scss */
  .stickynote.active .colorElement {
    border-radius: 50%;
    background: white; }
    /* line 109, sass/_whiteboard.scss */
    .stickynote.active .colorElement:before {
      content: " "; }

/* line 116, sass/_whiteboard.scss */
.control {
  display: none; }
